@model trimatrixlab.DBContext.tbInterest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QUẢN LÝ SỞ THÍCH</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chỉnh Sửa THÔNG TIN SỞ THÍCH</h5>

                        <!-- General Form Elements -->
                        <form action="/admin/AInterests/edit" method="post" enctype="multipart/form-data">
                            @Html.HiddenFor(model => model.IDInterest)
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Tên Sở Thích</label>
                                <div class="col-sm-10">
                                    <input type="text" value="@Model.TenIcon" name="TenIcon" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Icon</label>
                                <div class="col-sm-10">
                                    <input type="text" value="@Model.Icon" name="Icon" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Background</label>
                                <div class="col-sm-10">
                                    <input type="text" value="@Model.Background" name="Background" class="form-control">
                                </div>
                            </div>
                        

                            @*Cách 1*@
                            @*<div class="row mb-3">
                                    @Html.LabelFor(model => model.Hide, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Hide)
                                            @Html.ValidationMessageFor(model => model.Hide, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Trạng Thái</label>
                                <div class="col-sm-2">
                                    <select id="hideSelect" class="form-select" name="Hide" aria-label="Default select example">
                                        <option value="default">Select...</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                            </div>

                            <script>
                                const currentValue = "@(Model.Hide?.ToString().ToLower() ?? "default")";
                                const hideSelect = document.getElementById('hideSelect');
                                if (currentValue === "true") {
                                    hideSelect.value = "true";
                                } else if (currentValue === "false") {
                                    hideSelect.value = "false";
                                } else {
                                    hideSelect.value = "default";
                                }
                            </script>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                    <a href="/admin/AInterests" class="btn btn-danger"> Quay Lại</a>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>



</main>