@model trimatrixlab.DBContext.tbStory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QUẢN LÝ STORIES</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> THÔNG TIN STORIES</h5>

                        <!-- General Form Elements -->
                        <form action="/admin/AStories/edit/@Model.IDStory" method="post" enctype="multipart/form-data">

                            @Html.HiddenFor(model => model.IDStory)
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Hình Ảnh</label>
                                <div class="col-sm-10">
                                    <img src="@Model.HinhAnh" width="180" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Tiêu Đề</label>
                                <div class="col-sm-10">
                                    <div class="form-control">
                                        @Html.Raw(Model.TieuDe)
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Họ Tên</label>
                                <div class="col-sm-10">
                                    <div class="form-control">
                                        @Html.Raw(Model.Ten)
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Ngày Đăng</label>
                                <div class="col-sm-10">
                                    @if (Model.NgayDang.HasValue) // Kiểm tra xem ThoiGian có giá trị hay không
                                    {
                                        <span class="form-control">@Model.NgayDang.Value.ToString("dd/MM/yyyy")</span>
                                    }
                                    else
                                    {
                                        <span class="form-control">Không có thời gian</span>
                                    }
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Nội Dung</label>
                                <div class="col-sm-10">
                                    <div class="form-control" rows="5">
                                        @Html.Raw(Model.NoiDung)
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Link Bài Viết</label>
                                <div class="col-sm-10">
                                    <a href="@Model.Link" class="form-control" target="_blank">@Model.Link</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Hide</label>
                                <div class="col-sm-2">
                                    <div class="form-control text-center">
                                        <strong>

                                            @if (Model.Hide != true)
                                            {
                                                <span>Hiện</span>
                                            }
                                            else
                                            {
                                                <span>ẨN </span>
                                            }
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <a href="/admin/AStories" class="btn btn-danger"> Quay Lại</a>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>
