@model trimatrixlab.DBContext.tbSocial

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QUẢN LÝ SOCIALS</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> THÔNG TIN SOCIALS</h5>

                        <!-- General Form Elements -->
                        <form action="/admin/ASocials/edit/@Model.IDSocial" method="post" enctype="multipart/form-data">
                            @Html.HiddenFor(model => model.IDSocial)
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Social</label>
                                <div class="col-sm-10">
                                    <div class="form-control">
                                        @Html.Raw(Model.Image)
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Link Social</label>
                                <div class="col-sm-10">
                                    <a href="@Model.LinkSocial" class="form-control" target="_blank">@Model.LinkSocial</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Hiệu Ứng Button</label>
                                <div class="col-sm-10">
                                    <div class="form-control">
                                        @Html.Raw(Model.Button)
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Hide</label>
                                <div class="col-sm-2">
                                    <div class="form-control text-center">
                                        <strong>

                                            @if (Model.Hide != true)
                                            {
                                                <span>Hiện</span>
                                            }
                                            else
                                            {
                                                <span>ẨN </span>
                                            }
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <a href="/admin/ASocials" class="btn btn-danger"> Quay Lại</a>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>