@model trimatrixlab.DBContext.tbExperience

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QUẢN LÝ EXPERIENCE</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SỬA THÔNG TIN EXPERIENCE</h5>

                        <!-- General Form Elements -->
                        <form action="/admin/AExperiences/edit" method="post" enctype="multipart/form-data">
                            @Html.HiddenFor(model => model.IDExperience)
                            @Html.HiddenFor(model => model.HinhAnh)
                            @Html.HiddenFor(model => model.Icon)
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Hình Ảnh</label>
                                <div class="col-sm-10">
                                    <img src="@Model.HinhAnh" width="180" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Cập Nhật Hình Ảnh</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="Editfile" id="formFile">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Hình Ảnh Icon</label>
                                <div class="col-sm-10">
                                    <img src="@Model.Icon" width="80" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Cập Nhật Hình Ảnh Icon</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="Editfile1" id="formFile">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Tiêu Đề</label>
                                <div class="col-sm-10">
                                    <input type="text" value="@Model.TieuDe" name="TieuDe" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Tiêu Đề Con</label>
                                <div class="col-sm-10">
                                    <input type="text" value="@Model.TieuDeCon" name="TieuDeCon" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Mô Tả</label>
                                <div class="col-sm-10">
                                    <textarea name="MoTa" class="form-control ckeditor" rows="5"> @Model.MoTa</textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Nội Dung</label>
                                <div class="col-sm-10">
                                    <textarea name="NoiDung" class="form-control ckeditor" rows="5"> @Model.NoiDung</textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Ngày Bắt Đầu</label>
                                <div class="col-sm-10">
                                    @if (Model.NgayBatDau.HasValue) // Kiểm tra xem ThoiGian có giá trị hay không
                                    {
                                        <!-- Chỉ hiển thị ngày tháng năm -->
                                        @*<span class="form-control">@Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</span>*@
                                        <input type="date" id="inputDate" name="NgayBatDau" class="form-control"
                                               value="@(Model.NgayBatDau.HasValue ? Model.NgayBatDau.Value.ToString("yyyy-MM-dd") : "")" />
                                    }
                                    else
                                    {
                                        <input type="date" id="inputDate" name="NgayBatDau" class="form-control" placeholder="Chọn ngày bắt đầu" />
                                    }
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Ngày Kết Thúc</label>
                                <div class="col-sm-10">
                                    @if (Model.NgayKetThuc.HasValue) // Kiểm tra xem ThoiGian có giá trị hay không
                                    {
                                        <!-- Chỉ hiển thị ngày tháng năm -->
                                        @*<span class="form-control">@Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</span>*@
                                        <input type="date" id="inputDate" name="NgayKetThuc" class="form-control"
                                               value="@(Model.NgayKetThuc.HasValue ? Model.NgayKetThuc.Value.ToString("yyyy-MM-dd") : "")" />
                                    }
                                    else
                                    {
                                        <input type="date" id="inputDate" name="NgayKetThuc" class="form-control" placeholder="Chọn ngày kết thúc" />
                                    }
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Trạng Thái</label>
                                <div class="col-sm-2">
                                    <select id="hideSelect" class="form-select" name="Hide" aria-label="Default select example">
                                        <option value="default">Select...</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                            </div>

                            <script>
                                const currentValue = "@(Model.Hide?.ToString().ToLower() ?? "default")";
                                const hideSelect = document.getElementById('hideSelect');
                                if (currentValue === "true") {
                                    hideSelect.value = "true";
                                } else if (currentValue === "false") {
                                    hideSelect.value = "false";
                                } else {
                                    hideSelect.value = "default";
                                }
                            </script>


                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                    <a href="/admin/AExperiences" class="btn btn-danger"> Quay Lại</a>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>

</main>
